<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="https://cdn.dribbble.com/users/2055858/screenshots/5660772/media/cbfe06c65d648fff8770e1da027fc318.png"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="display-5 fw-normal">About us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi commodi
      veniam fugit, culpa neque non sunt laborum dolore labore perspiciatis,
      totam beatae doloremque! Incidunt eveniet suscipit magni consequuntur?
      Sit, deleniti?
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" *ngIf="!hasLoggedIn">
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        routerLink="/login"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg px-4 gap-3"
        routerLink="/register"
      >
        Sign up
      </button>
    </div>
  </div>
</div>
